{% extends "admin/base_site.html" %}
{% load adminmedia admin_list i18n %}

{% block extrastyle %}
  <link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/changelists.css" />
{% endblock %}

{% block bodyclass %}change-list{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
     <a href="/admin/">{% trans "Home" %}</a> &rsaquo;
     <a href="{% url reports-list %}">Reports</a> &rsaquo;
     {{report.verbose_name}} 
</div>
{% endblock %}


{% block content %}
  <div id="content-main">
    {% block object-tools %}{% endblock %}

    {% block description %}
    {% if report.description %}
    <h3>Description</h3>
    <div id="description">{{ report.description }}</div>
    {% endif %}
    {% endblock %}

    {% block filters %}
    {% if filter_form.fields %}
    <h3>Filter</h3>
    <div id="filters">
        <form>
        <table>
        {{ filter_form.as_table }}
        </table>
        <input type="submit" value="Apply" />
        </form>
    </div>
    {% endif %}
    {% endblock %}

    {% block alternate-formats %}
    <h3>Alternate Formats</h3>
    <div>
        {% for of in report.output_formats %}
        {% ifequal of output_format %}
        {{ of.verbose_name }} {% if not forloop.last %}|{% endif %}
        {% else %}
        <a href="{% url reports-view-format report.namespace report.slug of.slug %}?{{ urlparams }}">{{ of.verbose_name }}</a> {% if not forloop.last %}|{% endif %}
        {% endifequal %}
        {% endfor %}
    </div>
    {% endblock %}

<h3>Data</h3>
 <table>
    <thead>
        <tr>
            {% for l in report.labels %}
            <th>{{ l }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
    {% for row in rows %}
    <tr>
        {% for v in row %}
        <td>{{ v }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    {% for a in aggregates %}
    <tr>
        <td colspan="{{ report.labels|length|add:"-2" }}"></td>
        <th>{{ a.0 }}</th><td>{{ a.1 }}</td>
    {% endfor %}
    </tbody>
</table>

{% if cl %}
<div>{% pagination cl %}</div>
{% endif %}

</div>
{% endblock %}

