{% extends "admin/base_site.html" %}
{% load adminmedia admin_list i18n %}

{% block extrastyle %}
  <link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/changelists.css" />
{% endblock %}

{% block bodyclass %}change-list{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
     <a href="/admin/">{% trans "Home" %}</a> &rsaquo;
     <a href="{% url reports-list %}">Reports</a> &rsaquo;
     {{report.verbose_name}} 
</div>
{% endblock %}



{% block content %}
  <div id="content-main">
    {% block object-tools %}{% endblock %}

 <table>
    <thead>
        <tr>
            {% for l in report.labels %}
            <th>{{ l }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
    {% for row in rows %}
    <tr>
        {% for v in row %}
        <td>{{ v }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>

</div>
{% endblock %}

